<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{{ site.configs.title or site.title }} {% endblock %}-CV</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link type="image/x-icon" href="http://qfdk.free.fr/favicon.ico" rel="shortcut icon">
<link href="/t/css/bootstrap.min.css" rel="stylesheet">
<link href="/t/css/style.css" rel="stylesheet">
</head>
<!-- 开始body -->
<body class="body">

<header class="mainHeader">
  <!-- <img src="/t/img/logo.gif"> -->
  <h1>清风刀客'S Blog</h1>
  <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/archive">Archive</a></li>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/tags">Tags</a></li>
    <li class="active"><a href="/about">About</a></li>
  </ul>
  </nav>
</header>

<div class="mainContent">
      <div class="row">
    <div class="span9">
                <address>
                <br>33 Quater Rue d'Antrain
                <br>35000 RENNES
                <br>Téléphone: 07 61 23 12 49
                <br>Email : qfdk2010@gmail.com
                <!--QQ : 418182404-->
                </address>
    </div>
    <div class="span2">
        <img src="/t/img/100.gif"/>
    </div>
    <div class="span12">
        <div class="alert alert-info">
    <h2>Etudiant en informatique à l’ESIR(L'École supérieure d'ingénieurs de Rennes)</h2>
    </div>
        <div class="information">
                <h3>Formation</h3>
                <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                <th>Anee</th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>2014</td>
                <td>L'École supérieure d'ingénieurs de Rennes en informatique</td>
                </tr>
                <tr>
                <td>2013-2014</td>
                <td>Stage à l'entreprise Marchands des 4 saisions(<a href="http://md4s.fr">MD4S</a>)</td>
                </tr>
                <tr>
                <td>2011-2013</td>
                <td>DUT en informatique en cours à l’IUT de Clermont-Ferrand</td>
                </tr>
                <tr>
                <td>2010-2011</td>
                <td>DUSFT Renforcé en Français (scientifique) à l’université
                d’Auvergne
                C2I niveau 1 IUT</td>
                </tr>
                <tr>
                <td>2010</td>
                <td>Baccalauréat scientifique au lycée de Jinan en Chine</td>
                </tr>
                </tbody>
                </table>
                <hr>
                <h3>Compétences en informatique</h3>
                <h5>
                  Langages informatiques
                </h5>
                <ul>
                <li>C, C++, Shell (bash), HTML5, Css3, PHP, JSP, SQL, Java, C#, XML
                </ul>
                <h5>
                  Méthodologies et langages
                </h5>
                <ul>
                <li>Merise, UML
                </ul>
                <h5>
                  Outils et ateliers de génie logiciel
                </h5>
                <ul>
                <li>Oracle/Developer 2000, Windev, Maple, Eclipse, Visual Studio, Pack Office
                Windows, Photoshop
                </ul>
                <h5>
                  Systèmes de gestion de bases de données
                </h5>
                <ul>
                <li>Oracle, MySQL, SQL Server, DB2
                </ul>
                <h5>
                  Systèmes d’exploitation et réseaux
                </h5>
                <ul>
                <li>Linux, Windows, réseaux locaux (Ethernet, Wifi...), IIS, Apache
                </ul>
                <hr>
                <h3>Expériences professionnelles</h3>
                <table class="table table-striped table-bordered table-condensed">
                  <tbody>
                  	<tr>
                    <td>Juin 2014</td>
                    <td>Developpeur à <a href="http://md4s.fr">MD4S</a> et a <a href="http://marchandslocaux.fr">Marchands Locaux</a> </td>
                    </tr>
                    <tr>
                    <td>Juin 2012</td>
                    <td>Collecte des maïs à Lussait (63)</td>
                    </tr>
                    <tr>
                    <td>Novembre 2011</td>
                    <td>Poste: Assistant Informatique en Chine société Meixun
                http://m.meixun.com/</td>
                    </tr>
                    <tr>
                    <td>Septembre 2011</td>
                    <td>Assistant Informatique à Jinan</td>
                    </tr>
                  </tbody>
                </table>
                <hr>
                <h3>Langues</h3>
                <table class="table table-striped table-bordered table-condensed">
                  <tbody>
                    <tr>
                    <td>Français</td>
                    <td>Oral: Courant</td>
                    <td>Ecrit: Courant</td>
                    </tr>
                    <tr>
                    <td>Anglais</td>
                    <td>Oral: Courant</td>
                    <td>Ecrit: Courant</td>
                    </tr>
                    <tr>
                    <td>Chinois</td>
                    <td>Oral: Maternelle</td>
                    <td>Ecrit: Maternelle</td>
                    </tr>
                  </tbody>
                </table>
            </div>
    </div>

  </div>
</div>
<!-- Footer -->
<footer class="mainFooter">
  <p>
    <a href="about.html" target="_blank">关于</a> &middot;
    <a href="http://qfdk.me" target="_blank">HTML作者</a>
    本Blog由 <a href="http://farbox.com/">FarBox</a> 强势驱动.
    <br/>Code licensed under <a
    href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache
    License v2.0</a>, documentation under <a
    href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC
    BY 4.0</a>.
  </p>
</footer>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/t/js/myApp.js"></script>
</body>
</html>
