{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}



{% block content %}


<div class="container" id="posts">

<div class="row">
			<div class="span3 bs-docs-sidebar">
				<ul class="nav nav-list bs-docs-sidenav">
					<li><a href="#{{ post.date | date('%Y%m%d%H%M') }}"><i class="icon-chevron-right"></i>{{ post.title }}</a></li>
				</ul>
			</div>
			<div class="span9">
				  <div class="post detail_post">
                        <section id="{{ post.date | date('%Y%m%d%H%M') }}">
                        <h2 >{{ post.title }}</h2>
                        <hr/>
                        <div class="post_body">
                            {{ post.content }}
                        </div>
                        <hr/>
                        <div class="info">
                                <span class="label label-info" title="发布日期">
                                    <i class="icon-time"></i>
                                    {{ post.date | date('%Y-%m-%d %H:%M') }}
                                </span>
                                <span class="label label-success" title="访问量">
                                    <i class="icon-user"></i>
                                    {{ post.visits or 0}}
                                </span>

                                {% if post.tags %}
                                <span class="label label-warning">
                                    <i class="icon-tags"></i>
                                    {% for tag in post.tags %}
                                     <a href="/tags/{{ tag }}" style="color:#ffffff;">{{ tag }}</a>
                                    {% endfor %}
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <hr/>
                        <div class="commant">
                    {% include 'include/comments.html' %}
                        </div>
                        </section>
                    </div>   
			</div><!--span9结束-->
</div><!--row结束-->
    {% include 'include/paginator.html' %}
</div>
{% endblock %}