{% for post in posts %}
<article class="topcontent">
	<header>
		<h2><a href="{{post.url}}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
	</header>

	<footer>
		<p class="post-info">
		<span class="label label-info" title="发布日期">
			<i class="icon-time"></i>
			{{ post.date | date('%Y-%m-%d %H:%M') }}
		</span>
		<span class="label label-success" title="访问量">
			<i class="icon-user"></i>
			{{ post.visits or 0}}
		</span>

		{% if post.tags %}
		<span class="label label-warning">
			<i class="icon-tags"></i>
			{% for tag in post.tags %}
			<a href="/tags/{{ tag }}" style="color:#ffffff;">{{ tag }}</a>
			{% endfor %}
		</span>
		{% endif %}
		</p>
	</footer>

	<content>
		<p>{{ post.content | limit(120) }}</p>
		<a class="btn btn-mini btn-warning"href="{{post.url}}" style="color:#ffffff;">More....</a>
	</content>

</article>
{% endfor %}
