<aside class="top-sidebar">
     <div class="source" style="font-family: 'Microsoft Yahei', Consolas, 'Lucida Console', 'Courier New'; color: rgb(230, 225, 220); background-color: rgb(17, 17, 17);">
       <span style="color: rgb(204, 120, 51);">public</span>
        <span style="color: rgb(255, 198, 109);">AboutMe</span>() <br><span style="color: rgb(230, 225, 220);">{</span> <br> &nbsp;<span style="color: rgb(230, 225, 220);">String</span> <span style="color: rgb(230, 225, 220);">nom</span><span style="color: rgb(230, 225, 220);">=</span><span style="color: rgb(165, 194, 97);">&quot;qfdk&quot;</span>; <br> &nbsp;<span style="color: rgb(230, 225, 220);">String</span> <span style="color: rgb(230, 225, 220);">ville</span><span style="color: rgb(230, 225, 220);">=</span><span style="color: rgb(165, 194, 97);">&quot;Rennes&quot;</span>; <br> &nbsp;<span style="color: rgb(230, 225, 220);">String</span> <span style="color: rgb(230, 225, 220);">ecole</span><span style="color: rgb(230, 225, 220);">=</span><span style="color: rgb(165, 194, 97);">&quot;ESIR&quot;</span>; <br><span style="color: rgb(230, 225, 220);">}</span><br></div>
</aside>

<aside class="middle-sidebar">
  <h3>未完成</h3>
  <article>
    正在思考ing
  </article>
</aside>

<aside class="bottom-sidebar">
  <article>
    <h2>友情链接</h2>
    <ul>
      <li><a href="http://t.du9l.com/">Xiaodu博客</a></li>
      <li><a href="http://clzf.co">Crystal_lz</a></li>
      <li><a href="http://www.scar1et.org">渣渣</a></li>
      <li><a href="http://kimmg.com">KIMMG</a></li>
    </ul>
  </article>
</aside>
