<aside class="top-sidebar">
  <article>
  <h2>Dz快速查询</h2>
  <p>
  <!--   <form id="rechercher"> -->
  
  <input id="md5" type="text" name="md5" value="">
  <p id="res">
  </p>
  <button onclick="send();" class="btn btn-info">确定</button>
    <!-- </form> -->
  </p>
  </article>
</aside>

<aside class="middle-sidebar">
  <article>
  <h2>Middle Sidebar</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </article>
</aside>

<aside class="bottom-sidebar">
  <article>
  <h2>友情链接</h2>
  <ul>
    <li><a href="http://qfdk.me">清风刀客's Blog</a></li>
    <li><a href="http://farbox.com">FarBox</a></li>
  </ul>
  </article>
</aside>
